<header class="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <span class="logo__text">Nano<span class="logo__accent">-Trend</span></span>
    </a>

    <nav class="nav" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="./#home" class="nav__link active">Home</a></li>
        <li class="nav__item"><a href="./#about" class="nav__link">About Platform</a></li>
        <li class="nav__item"><a href="./#benefits" class="nav__link">Advantages</a></li>
        <li class="nav__item"><a href="./#innovations" class="nav__link">Innovations</a></li>
        <li class="nav__item"><a href="./#blog" class="nav__link">Blog</a></li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--header">Contact Us</a>

    <button class="burger" id="burger-menu" aria-label="Open menu">
      <span></span>
    </button>
  </div>
</header>

<div class="mobile-menu" id="mobile-menu">
  <ul class="mobile-menu__list">
    <li><a href="./#home" class="mobile-menu__link">Home</a></li>
    <li><a href="./#about" class="mobile-menu__link">About Platform</a></li>
    <li><a href="./#benefits" class="mobile-menu__link">Advantages</a></li>
    <li><a href="./#innovations" class="mobile-menu__link">Innovations</a></li>
    <li><a href="./#blog" class="mobile-menu__link">Blog</a></li>
    <li><a href="./#contact" class="mobile-menu__link mobile-menu__link--cta">Request Access</a></li>
  </ul>
</div>